<p>login works!</p>


<div>
  <h1 >User login</h1>
  <mat-card
    *ngIf="authService.getSpinnerState()"
  >
    <mat-spinner></mat-spinner>
  </mat-card>
  <form
    *ngIf="!authService.getSpinnerState()"
    #loginForm="ngForm"
  >
    <mat-card>
      <p *ngIf="dataError" >
        Incorrect password or username
      </p>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          placeholder="Type your Username"
          required
          minlength="1"
          [(ngModel)] = "user.username"
          #username="ngModel"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Type your password"
          required
          minlength="1"
          [(ngModel)] = "user.password"
          #password="ngModel"
        />
      </mat-form-field>

    </mat-card>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      (click)="onSubmit($event)"
    >
      Login
    </button>
  </form>
</div>
