<div class="card-login">
    <mat-spinner *ngIf="authService.getSpinnerState()"></mat-spinner>
  <form
    *ngIf="!authService.getSpinnerState()"
    #loginForm="ngForm"
    class="boxLogin"
  >
    <h1>Login</h1>
    <div class="content-input">
      <p *ngIf="dataError">Incorrect password or username</p>
        <input
          matInput
          type="text"
          name="username"
          placeholder="Type your Username"
          required
          minlength="1"
          [(ngModel)]="user.username"
          #username="ngModel"
          class="input"
        />

        <input
          matInput
          type="password"
          name="password"
          placeholder="Type your password"
          required
          minlength="1"
          [(ngModel)]="user.password"
          #password="ngModel"
          class="input"
        />
    </div>
    <button
      class="buttonLogin"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      (click)="onSubmit($event)"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Enter
    </button>
  </form>
</div>
