.bodyMembers{
  background-color: #E0E0E0;
  width: 100%;
  height: 100vh;
}

/* input search */

.inputSearch {
  width: 100%;
  max-width: 150px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 8px;
}

.inputSearch:focus {
  border: 2px solid grey;
}

.inputSearch:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.inputSearch:active{
  transform: scale(0.95);
}

/* button input search */

.buttonSearch {
  width: fit-content;
  min-width: 90px;
  height: 45px;
  padding: 8px;
  border-radius: 8px;
  border: 2.5px solid #663399;
  cursor: pointer;
  background-color: #663399;
  transition: all 0.2s ease-in-out 0ms;
  color: #fff;
  font-size: 1.2rem;
}
.buttonSearch:hover {
  background-color: orange;
  box-shadow: 0px 0px 20px -18px;
  color: #fff;
  border-color: orange;
}
.buttonSearch:active {
  transform: scale(0.95);
}


/* button Rick & Morty Character List */

.buttonRickMorty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #663399;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin-top: 5px;
  margin-right: 10px;
  height: 80%;
  cursor: pointer;
}

.buttonRickMorty:after {
  content: "";
  width: 0%;
  height: 100%;
  background: orange;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.buttonRickMorty:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.buttonRickMorty .buttonContent {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.buttonRickMorty:hover .buttonContent {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


/* Members List Github */

.containerCard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  max-width: 1170px;
  margin: 20px auto;
  grid-gap: 9px;
  align-items: center;
}
.cardContent{
  max-width: 100%;
  height: 380px;
  border-radius: 10px !important;
  position: relative;
  transition: all ease .6s;
}

.cardMedia{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}
.cardMedia img{
  width: 100%;
}

.cardContentMember {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-bottom: -36px;
  text-align: center;
  transition: all ease .3s;
  z-index: 3;
}
.cardContentMember:after {
  content: '';
  background: linear-gradient(to top, black, transparent);  
  top:0;right:0;bottom:0;left:0;
  position: absolute;
  z-index: -1;
  margin-bottom: -27px;
}
.cardContentMember:hover {
  transform: translateY(-12px);
}

.cardContentMember .nameMember {
  font-size: 21px;
  color: orange;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.cardContentMember .nameMember:after {
  content: '';
  width: 28px;
  border-top: 3px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 21px;
}
.cardContentMember .subtitle, .btn {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 24px;
  color: #fff;
  transition-delay: 0.5s;
}

.cardContentMember .btn {
  color: #fff;
  margin: 0 auto 36px auto;
  width: 72px;
  line-height: 36px;
  border-radius: 27px;
  border: 1px solid #fff; 
  display: block;
  overflow: hidden;
  transition: all ease .3s;
}
.cardContentMember .btn:hover {
  width: 90px;
  background: rgba(102, 51, 153, 0.534);
}
/* Pagination Buttons*/

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  color: #2D1C3D;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2D1C3D;
}

.paginationActive a {
  color: white;
  background-color: #2D1C3D;
}

.paginationDisabled a {
  color: rgb(80, 80, 80);
}


