@import "variables";
@import "mediaQuerie";

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $color-main;
}

.page-container {
  display: grid;
  grid-template-columns: 170px 25px 1fr;
  grid-template-rows: 123px 1fr 30px;
  grid-template-areas:
    "header header header header"
    "menu menu content content"
    "footer footer footer footer";
  height: 100%;
}

header {
  grid-area: header;
  background-color: $color-toolbar;

  >.page-title {
    background-color: $color-header;
    padding: 10px;
    color: $color-font;
    font-family: $font-poppins;
    font-size: 30px;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  padding: 1em;
}

.menu-container {
  grid-area: menu;
  background-color: $color-navbar;
  height: 100%;
  flex-direction: column;
  position: sticky;
  top:0px;
  left: 0px;

  >.menu-title {
    font-family: $font-roboto;
    color: $color-font;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
  }

  >ul li {
    border: 1px solid $color-border;
    list-style: none;
    margin-left: -40px;
    background-color: $color-menuItems;
    font-family: $font-roboto;
    padding: 10px;
  }
}

footer {
  grid-area: footer;
  background-color: $color-footer;
  font-family: $font-roboto;
  padding: 5px;
  z-index: 1;
}

main {
  grid-area: content;

  > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-card;
  border: 1px solid $color-border-card;
  border-radius: 5px;
  width: 250px;
  height: 150px;


  >img {
    border-radius: 50%;
    width: 100px;
  }

  >.member-name {
    font-family: $font-roboto;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  @include responsive;
}
