@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-header: rgb(208, 230, 84);
$color-navbar: rgb(75, 95, 43);
$color-menuItems: rgb(243, 241, 224);
$color-border: rgb(230, 228, 228);
$color-main: rgb(241, 240, 240);
$color-footer: rgb(250, 250, 190);
$color-toolbar: rgb(255, 255, 255);
$color-font: rgb(255, 255, 255);
$color-border-card: rgb(61, 61, 61);
$color-card: rgb(255, 255, 255);

$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;