@use "mixin" as m;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$colorFont: rgb(37, 30, 30);
$familyFont: 'Source Code Pro', monospace;


#text{
  color: $colorFont;
  text-align: center;
  font-size: 32px;
  margin: 10px;
  font-family: $familyFont;
}

#imgContainer{
  @include m.flexPositions;
  > img{
    width: 300px;
  }
}
