.containerHeader{
  background-color: rgb(253, 249, 249);
  display: flex;
  justify-content: space-between;
  .containerForm{
    display: flex;
    .form{
      margin-right: 20px;
    }
    .btn{
      background-color: rgb(45, 129, 90);
    }
    .btn:hover{background-color: rgb(30, 87, 60);}
  }
  .typography{
    color: black;
  }
}