@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$fontCell: 'Rubik', sans-serif;

.tableHead{
  background-color: rgb(24, 129, 170);
  .tableCell{
    color: white;
    font-size: 1.1rem;
    font-family: 'Times New Roman';

  }
}  
.avatarContainer {
  > .avatar{
    width: 80px;
    height: 80px;
  }
}

.tableRow {
  > .cell{
    border: 1px solid rgb(223, 222, 222);
    font-size: 1.1rem;
    text-align: center;
    font-family: $fontCell;
    > a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
