@use 'mixin' as m;

$background: indianred;
$background-hover: rgb(114, 18, 18);
$color-title: white;
$fontTitle: Times, serif;
$fontParagraph: Verdana, sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
  font-size: 35px;
  background-color: $background;
  color: $color-title;
  font-family: $fontTitle;
  @include m.positionText;
}

.textParagraph{
  @include m.positionText;
  font-size: 30px;
  font-family: $fontParagraph;
}

.imgContainer{
  @include m.flexPositions;
  .img_1{
    width: 200px;
  }
}

