@mixin header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  background-color: rgb(31, 131, 109);
  box-shadow: 0 0 10px black;
  color: #fff;
  font-family: sans-serif;
}