@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


$font-card: 'Roboto', sans-serif;

$color-info: rgb(92, 160, 53);
$color-white: #fff;
$color-bgContainer: rgb(235, 235, 235);
$color-borderCard: rgb(207, 206, 206);