@use "variables" as v;

*{
  box-sizing: border-box;
}

.container {
  background-color: v.$color-bgContainer;
  width: 350px;
  height: 600px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.card{
  width: 88%;
  height: 580px;
  background-color: v.$color-white;
  display: grid;
  border: 1px solid v.$color-borderCard;
}

.card-img > img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 0;
}

.card-header{
  margin-top: 16px;
  margin-left: 10px;

  > .title{
    font-family: v.$font-card;
    font-weight: 400;
    font-size: 28px;
  }
}

.card-body{
  margin: 10px;
  font-family: v.$font-card;
  font-weight: 300;
  line-height: 1.5;
}

.published{
  margin-right: 10px;
  text-align: right;
  font-family: v.$font-card;
  font-weight: 400;
  > .published-date span{
    color: v.$color-info;
  }
}
.button-info{
  margin: 10px;
  padding: 11px;
  text-align: center;
  background-color: v.$color-info;
  > span{
    font-family: v.$font-card;
    font-size: 1.3em;
    color: v.$color-white;
  }
}
