@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

//font

$font-base: 'Jost', sans-serif;

//colors 
$color-button-header: #fff;
$color-background: #141414;
$color-font: #fff