@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

//colors

$box-1:rgb(0, 38, 252);
$box-2:red;
$box-3:rgb(7, 204, 56);
$box-shadow: rgb(255, 255, 255);

//fonts

$font-montserrat: 'Montserrat', sans-serif;
$font-playfair: 'Playfair Display', serif;