@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//colors 

$box-1:rgb(49, 185, 219);
$box-2:rgb(51, 100, 206);
$box-3:rgb(105, 22, 212);
$box-shadow: rgb(255, 255, 255);

//fonts

$font-poppins: 'Poppins', sans-serif;
$font-lora: 'Lora', sans-serif;