@use "variablesSecondTheme" as vs;
@use "mixin" as m;

body{background-color: rgb(228, 226, 226);}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  @include m.header;
  .container-title > .title-excercise {
    font-size: 24px;
  }
  .container-author > .author-name{
    font-size: 18px;
  }
}

.container{
  @include m.container;
  
  .box-1{
    background-color: vs.$box-1;
    color: white;
    font-family: vs.$font-poppins;
    @include m.box-size;
    @include m.align-text;
  }
  .box-2{
    background-color: vs.$box-2;
    color: white;
    font-family: vs.$font-poppins;
    @include m.box-size;
    @include m.align-text;
  }
  
  .box-3{
    background-color: vs.$box-3;
    color: white;
    font-family: vs.$font-poppins;
    @include m.box-size;
    @include m.align-text;
  }

  .box-shadow{
    background-color: vs.$box-shadow;
    font-family: vs.$font-poppins;
    box-shadow: 10px 9px 12px rgb(61, 61, 61);
    @include m.box-size;
    @include m.align-text;
    >span{
      padding: 16px;
    }
  }
  .principal-font{
    margin: 10px;
    > .font-1{
      font-family: vs.$font-poppins;
    }
  }
  .secondary-font{
    margin: 10px;
    > .font-2{
      font-family: vs.$font-lora;
    }
  }

}