html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  margin: 0;
  background-color: #d9d9d9;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  color: white;
  background: linear-gradient(-25deg, #136a8a, #4ec1b7);
  font-family: "Open Sans";
}

.title {
  font-size: 5em;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.7);
  margin: 1rem 0 1rem;
}

.caption {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 1rem 0 1rem;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  width: 100%;
  box-shadow: 0 0 10px black;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px darkgray;
}

.message {
  margin: 10px;
  text-align: center;
}

button{
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}