
$box-1:rgb(0, 38, 252);
$box-2:red;
$box-3:rgb(7, 204, 56);
$box-shadow: white;

@mixin box-size{
  width: 100px;
  height: 80px;
  border: 1px solid grey;
}

@mixin align-text{
  display: flex;
  align-items: center;
  justify-content: center;
}