@import "variablesFirstTheme.scss";
@import "mixin.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{background-color: rgb(228, 226, 226);}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  @include header;
  .container-title > .title-excercise {
    font-size: 24px;
  }
  .container-author > .author-name{
    font-size: 18px;
  }
}
.container{
  @include container;
  
  .box-1{
    background-color: $box-1;
    color: white;
    font-family: 'Montserrat', sans-serif;
    @include box-size;
    @include align-text;
  }
  .box-2{
    background-color: $box-2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    @include box-size;
    @include align-text;
  }
  
  .box-3{
    background-color: $box-3;
    color: white;
    font-family: 'Montserrat', sans-serif;
    @include box-size;
    @include align-text;
  }
  
  .box-shadow{
    background-color: $box-shadow;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -9px 9px 12px rgb(61, 61, 61);
    @include box-size;
    @include align-text;
    >span{
      padding: 16px;
    }
  }
  .principal-font{
    margin: 10px;
    > .font-1{
      font-family: 'Montserrat', sans-serif;
    }
  }
  .secondary-font{
    margin: 10px;
    > .font-2{
      font-family: 'Playfair Display', serif;
    }
  }
}

