@mixin navDesktop {
  display: flex;  
  justify-content: space-around;
  background-color:  rgb(44, 119, 133);
  font-family: sans-serif;
  > li{
    list-style-type: none;
    padding: 20px;
    
    > a{
      text-decoration: none;
      color: #fff;
    }
  }
}


@mixin navMobile{
  .links{
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    background-color:  rgb(44, 119, 133);
    font-family: sans-serif;
  }

  li{
    list-style-type: none;
    text-align: center;
    flex-grow: 1;

    > a{
      text-decoration: none;
      color: #fff;
    }
  }
}