<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="navbar" *ngIf="!authService.isLogged() || authService.getSpinnerState()">
    <mat-icon svgIcon="angular" aria-hidden="false" aria-label="angular SVG icon"></mat-icon>
    <p class="titleWeb">{{title}}</p>
    <mat-nav-list class="nav-list">
      <a class="list" mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
