*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerRickMorty{
  display: flex;
  justify-content:right;
  background-color: #fffcfc;
  height: 200px;
  gap: 19%;
  font-family: 'Roboto', sans-serif;
}

